{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-jsx"],
  "rules": {
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}
