{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
  },
  "extends": "standard",
  "rules" : {
    "one-var": "off"
  }
}
